

// partials/animations.scss

@keyframes bounceAnimation {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}

.text-animation {
    animation: bounceAnimation 2s infinite; // Apply the bouncing animation to text
}

.image-animation {
    animation: bounceAnimation 2s infinite;
    display: block; 
    margin: 20px auto; // Center the image

    @media (max-width:1024px){
            width:100%;
            margin-left: 10px;
        
    }
    @media (max-width:768px){
           width:100%;
            margin-left: 10px;
        }
    }

// Moving Object Animation
@keyframes moveObject {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(100px);
    }
    100% {
        transform: translateX(0);
    }
}

// Style for Moving Object
.moving-object {
    width: 70px;
    height: 50px;
    background-color: #34dbd5;
    animation: moveObject 3s infinite;
    margin: 20px auto; // Center the object
}
//Interaction Animation
@keyframes interactButton {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

// Style for Interactive Button
.interactive-button {
    padding: 10px 20px;
    background-color: #5c0343;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin: 20px auto; // Center the button

    // Apply animation on hover
    &:hover {
        background-color: #b259aa;
        animation: interactButton 1s infinite;
    }
}
// Background color transition
@keyframes colorTransition {
    0% {
        background-color: #3498db;
    }
    50% {
        background-color: #2ecc71;
    }
    100% {
        background-color: #3498db;
    }
}

.color-transition {
    animation: colorTransition 4s infinite;
    padding: 20px;
    text-align: center;
    color: #fff;
    margin: 20px auto;
}

// Text shadow effect
@keyframes textShadowEffect {
    0% {
        text-shadow: 2px 2px 5px #333;
    }
    50% {
        text-shadow: 4px 4px 8px #555;
    }
    100% {
        text-shadow: 2px 2px 5px #333;
    }
}

.text-shadow-effect {
    animation: textShadowEffect 3s infinite;
    text-align: center;
    margin: 20px auto;
}

// Parallax effect
.parallax-background {
    background-image: url('path/to/parallax-image.jpg');
    background-size: cover;
    background-position: center;
    height: 500px; // Adjust the height based on your design
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateZ(0);
    animation: parallaxEffect 10s infinite;
}

@keyframes parallaxEffect {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}








